body {
    background-color: #A3B7DD;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #436C95;
    font-family: 'caveat', cursive;
    font-size: 80px;
    background-color: #FF6A62;
    text-align: center;
}

h2 {
    color: #436C95;
    font-family: "Caveat", cursive;
    font-weight: bolder;
}

.logo {
    float: left;
    display: block;
    margin: 1em;
    border-radius: 50%;
}

.navbar {
    width: 100vw;
    background-color: #436C95;
}

.navlinks {
    list-style: none;
    display: flex;
    margin: 1em;
    font-family: "Leto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-around;
    padding: 1em;
}

li a {
    text-decoration: none;
    color: #FF6A62;
}

.adventures {
    margin-left: 30px;
}

.footerlogo {
    border-radius: 50%;
}

.footer-logo {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.footernav {
    width: 100vw;
    text-decoration: none;
    font-size: 18px;
    background-color: #436C95;
    display: flex;
    list-style: none;
    margin: 0;
    font-family: "Leto", sans-serif;
    justify-content: center;
    padding: 1em;
}