body {
    background-color: #A3B7DD;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

h1 {
    color: #436C95;
    font-family: 'caveat', cursive;
    font-size: 5vw;
    background-color: #FF6A62;
    text-align: center;
    padding-right: 1em;
}

h2 {
    color: #436C95;
    font-family: "Caveat", cursive;
    font-weight: bolder;
    font-size: 50px;
}

p {
    color: #436C95;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 1.3cm;
    text-align: justify;
}

.cta {
    width: fit-content;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    background-color: #436C95;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

p a {
    color: #C5E3AA;
    font-size: 18px;
}

.logo {
    float: left;
    display: block;
    margin: 1em;
    border-radius: 50%;
}

.navbar {
    width: 130vw;
    background-color: #436C95;
    color:#A3B7DD;
    text-align: center;
}

.navlinks {
    list-style: none;
    display: flex;
    margin: 2em;
    font-family: "Rubik", sans-serif;
    font-size: 100%;
    font-weight: bold;
    justify-content: space-around;
    padding: 1em;
   
}

li a {
    text-decoration: none;
    color: #FF6A62;
}

.raftingImage {
    border-radius: 15px;
}

.raftingDesc {
    text-align: justify;
}

.grid1 {
    width: 100%;
    display: flex;
    align-items: center;
}

.hikingDesc {
    padding-right: 30px;
}

.hiking {
    float: right;
    border-radius: 15px;
}

.grid2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.campingDesc {
    padding-left: 30px;
}

.camping {
    float: left;
    border-radius: 15px;
}

.grid3 {
    width: 100%;
    display: flex;
    align-items: center;
}

.fishingDesc {
    padding-right: 30px;
}

.fishing {
    float: right;
    border-radius: 15px;
}

#footerlogo {
    border-radius: 50%;
}

.footer {
    background-color: #436C95;
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 75%;
    color: #A3B7DD;
}

.footernav {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    padding: 1em;
}

.footernav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: normal;
}

#copyright {
    color: #A3B7DD;
    text-align: left;
    font-size: x-small;
    padding-left: 1em;
}