body {
    background-color: #EBF2FF;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1040px;
}


* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

h1 {
    color: #d8e2f9;
    font-family: "caveat", Handlee, Rock Salt, cursive;
    font-size: 35px;
    /* border: #436C95 solid 2px; */
    text-shadow: 4px 4px 3px #0a2b4b;
    padding-left: 15px;
   
}

h2 {
    color: #436C95;
    font-family: "caveat", Handlee, Rock Salt, cursive;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 2px 3px 3px #0a2b4b;
}

p {
    color: #436C95;
    font-family: "Rubik", Lato, Ubuntu, sans-serif;
    font-size: 20px;
    line-height: 1.1cm;
    text-align: justify;
}

.cta {
    width: fit-content;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    background-color: #436C95;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.cta a {
    text-decoration: none;
}

p a {
    color: #D6F2BE;
    font-size: 18px;
}

.logo {
    width: 100px;
    margin-left: 5px;
    border-radius: 0 0 10px 10px;
}

.navbar {
    background-color: #436C95;
    color: #A3B7DD;
    text-align: left;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    max-height: 150px;
    border-radius: 0 0 10px 10px;
    align-items: center;
}

.navlinks ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: #DFE9FF;
    font-size: 20px;
    font-weight: 500:
    
}

.bannerContainer {
    position:relative;
    width: 100%;
}
.CTAbutton {
font-family:"Rubik",Arial, sans-serif;
font-size: 25px;
font-weight:bolder;
background-color: #D6F2BE;
color: #0a2b4b;
padding: 15px;
position: absolute;
width: 150px;
text-align: center;
top: 5em;
left: 17.5em;
border-radius: 10px;
}

.raftingImage {
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;


.raftingDesc {
    text-align: justify;
}

.hikingGrid {
    display: grid;
    grid-template-columns: auto 50%;
    align-items: center;
}

.hikingDesc {
    padding-right: 30px;
}

.hiking {
    float: right;
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

.campingGrid {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
}

.campingDesc {
    padding-left: 30px;
}

.camping {
    float: left;
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

.fishingGrid {
    display: grid;
    grid-template-columns: auto 50%;
    align-items: center;
}

.fishingDesc {
    padding-right: 30px;
}

.fishing {
    float: right;
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

#footerlogo {
    border-radius: 50%;
}

.footer {
    background-color: #436C95;
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 40%;
    color: #DFE9FF;
}

.footernav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    padding: 1em;
    justify-content: flex-end;
    justify-content: space-between;
}

#copyright {
    color: #DFE9FF;
    text-align: left;
    font-size: medium;
    padding-left: 1em;
}