body {
    background-color: #EBF2FF;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

h1 {
    color: #436C95;
    font-family: "caveat", Handlee, Rock Salt, cursive;
    font-size: 80px;
    /* border: #436C95 solid 2px; */
    background-color: #DFE9FF;
    text-align: center;
    padding: .16em;
    height: 205px;
    border-radius: 0 0 10px 10px;
    text-shadow: 4px 4px 3px #0a2b4b;
    border: solid 1px #0a2b4b;
}

h2 {
    color: #436C95;
    font-family: "caveat", Handlee, Rock Salt, cursive;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 2px 3px 3px #0a2b4b;
}

p {
    color: #436C95;
    font-family: "Rubik", Lato, Ubuntu, sans-serif;
    font-size: 20px;
    line-height: 1.1cm;
    text-align: justify;
}

.cta {
    width: fit-content;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    background-color: #436C95;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.cta a {
    text-decoration: none;
}

p a {
    color: #D6F2BE;
    font-size: 18px;
}

.logo {
    float: none;
    display: inline;
    height: auto;
    width: 130px;
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 0 0 10px 10px;
}

.navbar {
    background-color: #436C95;
    color: #A3B7DD;
    text-align: center;
    display: grid;
    align-items: flex-start;
    grid-template-columns: auto 80%;
    max-height: 60px;
}

.navlinks ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-weight: bold;
    justify-content: space-around;
    padding-top: 15px;
}

li a {
    text-decoration: none;
    color: #DFE9FF;
    font-size: 20px;
    font-weight: 500:
}

.raftingImage {
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

.raftingDesc {
    text-align: justify;
}

.grid1 {
    display: grid;
    grid-template-columns: auto 50%;
    align-items: center;
}

.hikingDesc {
    padding-right: 30px;
}

.hiking {
    float: right;
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
}

.campingDesc {
    padding-left: 30px;
}

.camping {
    float: left;
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

.grid3 {
    display: grid;
    grid-template-columns: auto 50%;
    align-items: center;
}

.fishingDesc {
    padding-right: 30px;
}

.fishing {
    float: right;
    border-radius: 10px;
    box-shadow: #0a2b4b 0px 22px 100px 10px;
}

#footerlogo {
    border-radius: 50%;
}

.footer {
    background-color: #436C95;
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 40%;
    color: #DFE9FF;
}

.footernav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    padding: 1em;
    justify-content: flex-end;
    justify-content: space-between;
}

#copyright {
    color: #DFE9FF;
    text-align: left;
    font-size: medium;
    padding-left: 1em;
}